div.toggle { display: inline; }
div.comment {
    border: 1px solid #eef;
    background-color: #eef;
    padding: 0.25em;
    margin-bottom: 0.25em;
    font-size: 80%;
    margin-left: 1em;
}
div.comment.mine {
    border: 2px solid #33f;
    background-color: #eef;
}
div.comment.mine .username {
    font-style: bold;
}
form.comment {
    margin-left: 1em;
    font-size: 80%;
}
div.username {
    margin-bottom: 0.5em;
}
.mine div.username {
    font-weight: bold;
}
span.comment_error {
    color: red;
}
span.date {
    font-size: smaller;
    color: #999;
}
.comment th {
    text-align: right;
    vertical-align: top;
}
